{deps, [
    {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
    {eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
]}.
{eunit_opts, [
    no_tty,  %% This turns off the default output, MUST HAVE
    {report, {eunit_progress, [colored, profile]}} %% Use `profile' to see test timing information
    %% Uses the progress formatter with ANSI-colored output
]}.
